<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ product.id }}">
              <img 
                src="{{ setAppropriateImageSrc(product) }}" 
                class="img-responsive" />
              <h1>{{ product.item.name }}</h1>
            </a>
            <p>Sold by {{ product.seller.username }}</p>

            <div class="price">{{ product.unitPrice | currency: "INR" }} for 1 {{ product.item.unit }}</div>
            <div class="mt-2 mb-2">
              <span class="mr-2">Quantity: </span>
              <select>
                <option *ngFor="let in of counter(product.totalQuantity); let i = index">{{ i + 1 }}</option>
              </select>
              <span> {{ product.item.unit }}s</span>
            </div>
            <button (click) ="addToCart(product)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>

        <!-- if products are empty then display a message -->
        <!-- Safe navigation operator(?) : Guards against null and undefined values -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No products found.
        </div>
      </div>

      <!-- begin footer -->
      <div class="footer-pagination">
        <div class="row">
            <div class="col-md-5"></div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9" style="padding-left: 30%">
                  <ngb-pagination 
                    [(page)]="pageNumber"
                    [pageSize]="pageSize"
                    [collectionSize]="totalElements"
                    [maxSize]="5"
                    [boundaryLinks]="true"
                    (pageChange)="listProducts()"
                  >

                  </ngb-pagination>
                </div>
                <div class="col-md-3 mt-2" style="text-align: right;">
                  <span class="mr-2">Page Size</span>
                  <select (change)="updatePageSize($event.target.value)">
                    <option selected="true">1</option> <!-- change 2 to 5 during deployment -->
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                  </select>
                </div>
              </div>
            </div>

        </div>
    </div>
    <!-- end footer -->
    </div>
  </div>
</div>
